

* {
     background-color: #1e1e2e;
   }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.b30-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(10, 1fr);    
  gap: 10px; 
}

.b30-score {

  color: #cdd6f4;
  display: flex;
  flex-direction: column;
  padding: 10px; 
}

#song_name {
  color: #b1b2b3;
}

#song_difficulty.PRS-label {color: #74c7ec;}
#song_difficulty.PST-label {color:  #a6e3a1;}
#song_difficulty.FTR-label {color:#cba6f7;}
#song_difficulty.BYD-label {color: #f38ba8;}

